.grille {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 280px 280px;
    grid-gap: 2em;
}
.a {
    display: grid;
    grid-template-rows: 200px 50px 30px;
}
.name {
    text-align:center;
}
.page {
    display : grid;
    grid-template-columns: 40% 50% 10%;
}
.button {
    text-align:center;
}