.grille {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 220px 220px 220px;
    grid-gap: 2em;
}
.a {
    display: grid;
    grid-template-rows: 200px 20px;
}
.name {
    text-align:center;
}